<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Company:"
          label-for="company"
          :invalid-feedback="invalidFeedCompany"
          :valid-feedback="validFeedCompany"
          :state="stateCompany"
        >
          <b-form-select
            id="company"
            v-model="form.company"
            :options="companyOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Title:"
          label-for="title"
          :invalid-feedback="invalidFeedTitle"
          :valid-feedback="validFeedTitle"
          :state="stateTitle"
        >
          <b-form-input id="title" v-model="form.title" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Category:"
          label-for="category"
          :invalid-feedback="invalidFeedCategory"
          :valid-feedback="validFeedCategory"
          :state="stateCategory"
        >
          <b-form-select
            id="category"
            v-model="form.category"
            :options="categoryOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Number:"
          label-for="number"
          :invalid-feedback="invalidFeedNumber"
          :valid-feedback="validFeedNumber"
          :state="stateNumber"
        >
          <b-form-input
            id="number"
            v-model="form.number"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Date:"
          label-for="date"
          :invalid-feedback="invalidFeedDate"
          :valid-feedback="validFeedDate"
          :state="stateDate"
        >
          <b-form-input id="date" v-model="form.date" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Address:"
          label-for="address"
          :invalid-feedback="invalidFeedAddress"
          :valid-feedback="validFeedAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Time:"
          label-for="time"
          :invalid-feedback="invalidFeedTime"
          :valid-feedback="validFeedTime"
          :state="stateTime"
        >
          <b-form-input id="time" v-model="form.time" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template></b-table
    >
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มอบรมใหม่',
      form: {
        id: -1,
        company: null,
        title: '',
        category: null,
        number: '',
        date: '',
        address: '',
        time: ''
      },
      companyOptions: [
        { text: 'Select One', value: null },
        { value: 'Clicknet', text: 'Clicknet' },
        { value: 'GoFive', text: 'GoFive' },
        { value: 'G-able', text: 'G-able' }
      ],
      categoryOptions: [
        { text: 'Select One', value: null },
        { value: 'Train', text: 'วิชาการ' },
        { value: 'Operating', text: 'ปฏิบัติการ' }
      ],
      userList: [
        {
          id: 1,
          company: 'บริษัท คลิกเน็กซ์',
          title: 'สร้างสรรค์เว็บไซต์ด้วย angular',
          category: 'Train',
          number: '10',
          date: '19/10/1998',
          address: 'burapha',
          time: '18.00'
        },
        {
          id: 2,
          company: 'บริษัท คลิกเน็กซ์',
          title: 'สร้างสรรค์เว็บไซต์ด้วย angular',
          category: 'Train',
          number: '8',
          date: '22/10/1998',
          address: 'burapha',
          time: '10.00'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'company',
        'title',
        'category',
        'number',
        'date',
        'address',
        'time',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      this.title = 'แก้ไขรายการอบรม'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.company + ' หรือไม่', {
          title: 'กรุณากดยืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        company: null,
        title: '',
        category: null,
        number: '',
        date: '',
        address: '',
        time: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateTitle === false ||
        this.stateCompany === false ||
        this.stateCategory === false ||
        this.stateNumber === false ||
        this.stateDate === false ||
        this.stateAddress === false ||
        this.stateTime === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateTitle () {
      return this.form.title.length >= 2
    },
    invalidFeedTitle () {
      if (this.form.title.length > 2) {
        return ''
      } else if (this.form.title.length > 0) {
        return 'ต้องมีชื่ออย่างน้อย2ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedTitle () {
      return this.stateTitle === true ? 'สำเร็จ' : ''
    },
    stateCompany () {
      return this.form.company != null
    },
    invalidFeedCompany () {
      if (this.form.company != null) {
        return ''
      } else {
        return 'กรุณาเลือกบริษัท'
      }
    },
    validFeedCompany () {
      return this.stateCompany === true ? 'สำเร็จ' : ''
    },
    stateCategory () {
      return this.form.category != null
    },
    invalidFeedCategory () {
      if (this.form.category != null) {
        return ''
      } else {
        return 'กรุณาเลือกบริษัท'
      }
    },
    validFeedCategory () {
      return this.stateCategory === true ? 'สำเร็จ' : ''
    },
    stateNumber () {
      return this.form.number.length >= 1
    },
    invalidFeedNumber () {
      if (this.form.number.length > 1) {
        return ''
      } else if (this.form.number.length > 0) {
        return 'ต้องมีชื่ออย่างน้อย1ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedNumber () {
      return this.stateNumber === true ? 'สำเร็จ' : ''
    },
    stateDate () {
      return this.form.date.length >= 2
    },
    invalidFeedDate () {
      if (this.form.date.length > 2) {
        return ''
      } else if (this.form.date.length > 0) {
        return 'ต้องมีชื่ออย่างน้อย1ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedDate () {
      return this.stateDate === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 2
    },
    invalidFeedAddress () {
      if (this.form.address.length > 2) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'ต้องมีชื่ออย่างน้อย1ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateTime () {
      return this.form.time.length >= 2
    },
    invalidFeedTime () {
      if (this.form.time.length > 2) {
        return ''
      } else if (this.form.time.length > 0) {
        return 'ต้องมีชื่ออย่างน้อย1ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedTime () {
      return this.stateTime === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
